---
---

@import "{{ site.theme }}";

code {
  color:#000;
  text-shadow: 0px 0px 0px #000;
  background: #ddd;
  border-radius: 5px;
}

body {
    background: url(../images/mybackground.png) #d8ffff;
}

ul{
  list-style-image:url('../images/mybullet.png');
}

.wrapper {
  width:750px;
}

section {
  width:690px;
}
  
nav {
  margin-left:-630px;
  text-align: left;
}

footer {
  margin-left:-580px;
}

section img {
  max-width: 80%;
}
